html { font-size: 1em; }
body { font-family: 'Arial', sans-serif; }

.section-title {
    border-bottom: solid 1px #c0c0c0;
    color: black;   
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 5px;
    text-align: left;
    text-transform: uppercase;
}
.panel {
    background-color: #f6f6f6;
    border-bottom: solid 1px #c0c0c0;
    box-sizing: border-box;
    float: left;
    padding: 8px;
    width: 50%;
    text-align: center;
}
.panel canvas {
    background-color: white;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    padding: 5px;
}

#stack-trace {
    border-right: solid 1px #c0c0c0;
}
#stack-trace pre {
    display: block;
    font-family: monospace;
    margin: 2px 0px;
    white-space: pre-wrap;
    white-space: pre;
    word-wrap: break-word;
}
