html { font-size: 1em; }
body { font-family: 'Arial', sans-serif; background-color: #f0f0f0; }

.views { overflow: hidden; }
.panel {
    box-sizing: border-box;
    padding: 8px;
    text-align: center;
}
.panel canvas {
    background-color: white;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    padding: 5px;
}
.top-panel { width: 33.33333%; float: left; }
.section-title {
    border-bottom: solid 1px #c0c0c0;
    color: black;   
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 5px;
    text-align: left;
    text-transform: uppercase;
}

#stack-trace { text-align: left; position: relative; }
#stack-trace pre {
    display: block;
    font-family: monospace;
    margin: 2px 0px;
    white-space: pre-wrap;
    white-space: pre;
    word-wrap: break-word;
}
#stack-trace ul {
    margin: 8px;
    position: absolute;
    right: 0;
    top: 0;
}
#stack-trace li { float: right; margin-left: 8px; }
#stack-trace button {
    background-color: #cc181e;
    border-radius: 3px;
    border: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
